*{
    color:rgb(238, 228, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.body{
        height: 100%;
      }
      .bg {
        background-image: url("https://jooinn.com/images/denim-black-17.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
}

.main-header {
    background-image: url("https://jooinn.com/images/denim-black-17.jpg");
    background-size: cover;
    padding-top:35px;
    padding-bottom: 35px ;
}
